.panel-list {
    display: flex;
    margin-top: 15px;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #a5a5a569;
    border-bottom: 1px solid #a5a5a569;

    &__change-view {
        display: flex;
        width: 90px;
        justify-content: space-between;

        &>span {
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 5px;
            padding: 5px;
            transition: .2s ease;
        }

        &__icon-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &>span {
                display: block;
                width: 100%;
                height: 2px;
                margin: 3px;
                background-color: #33CEC3;
            }

            &_active {
                background-color: #33CEC3;

                & span {
                    background-color: #FFF;
                }
            }
        }

        &__icon-2 {

            & div {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                border: 2px solid #33CEC3;
                border-radius: 5px;

                & span {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #33CEC3;
                }

                & span:nth-child(1) {
                    transform: rotate(90deg);
                }
            }

            &_active {
                background-color: #33CEC3;

                & div {
                    border: 2px solid #FFF;

                    & span {
                        background-color: #FFF;
                    }
                }
            }
        }
    }
}