.form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #a5a5a569;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    & > label {
        display: flex;
        flex-direction: column;
        color: #33CEC3;
        margin-top: 10px;
        & > span {
            float: left;
        }
    }

    &:nth-child(3) {
        cursor: pointer;
    }

    & > input {
        margin-top: 5px;
    }

    & button {
        margin-top: 10px;
    }

    &_error {
        border: 1px solid red;
    }
}